<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col m3">
		<div class="collection">
        	<% @videos.each do |video| %>
        		<%= link_to video.title, video, :class => 'collection-item' %>
        	<% end %>
      	</div>
	</div>
	<div class="col m9">
		<div class="card z-depth-3">
			<div class="card-content">
				<div class="card-content black-text">
					<div class="wistia_embed wistia_async_<%= @video.wistia %> videoFoam=true videoQuality=hd-only play"
style="width:640px;height:360px;">&nbsp;</div>

				
			 </div>
            <!--<div class="card-content black-text">-->
              <span class="card-title"><%= @video.title %></span>
              <span class="card-content">
			  	<p><%= @video.description %></p>
              </span>
         </div>
		
            <div class="card-action">
               	<%= link_to "Previous", @previous_video if !@previous_video.nil? %>
              <span class="right">
              	<%= link_to "Next", @next_video if !@next_video.nil? %>
              </span>
            </div>
	
			
		</div>
	</div>
</div>



<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>




